@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background: #000;
}

body {
  height: 100%;
  margin: 0;
  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  background: #000;
}
